<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<form method="post" action="" class="form-horizontal" role="form"> {% csrf_token %}
	<div class="form-group">
		<label class="col-sm-4 control-label">Question: </label>
		<div class="col-sm-3">
			<input type="text" name="content" class="form-control" value={{last_question.content}}>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-4 col-sm-10">
		<select name="type">
			<option value="dialog">Dialog</option>
			<option value="definition">Definition</option>
		</select>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-4 col-sm-10">
			<input type="submit" class="btn btn-default" value="Ask">
		</div>
	</div>
</form>
<label class="col-sm-offset-3 col-sm-8 control-label">Answer: {{answer}}</label>
